
@{
    ViewBag.Title = "VistaDistritos";
    Layout = "~/Views/Shared/_LayoutGrafico.cshtml";
}
<script src="~/Scripts/Charts/exporting.js"></script>
<script src="~/Scripts/Charts/highcharts.js"></script>
<h2>Denuncias y Alertas por Distrito</h2>
<div>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<p>Exportar Cantidad de Denuncias y Alertas</p>
<button type="button" onclick="location.href='@Url.Action("ExportarExcel2", "ExportarDatos")'">Exportar</button>


<script>

    $(document).ready(function () {
        $.getJSON("/Graficos/DatosDistrito", function (data) {

            var Nombres = []
            var Cantidades = []

            for (var i = 0; i < data.length; i++) {
                Nombres.push(data[i].nombre);
                Cantidades.push(data[i].cantidad);
            }


            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Cantidad de denuncias por distrito'
                },
                xAxis: {
                    categories: Nombres
                },
                yAxis: {
                    title: {
                        text: 'Cantidad'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Denuncias y Alertas',
                    data: Cantidades
                }]
            });
        });
    });

</script>